page-home {
      //Validaction
            // ANDROID
            .invalid.item-md.item-block .item-inner{
                  border-bottom: 1px solid red !important;
            }
            .item-md.item-block .item-inner{
                  border-bottom: 1px solid black !important;
            }
            //IOS
            .invalid.item-ios.item-block .item-inner{
                  border-bottom: 1px solid red !important;
            }
            .item-ios.item-block .item-inner{
                  border-bottom: 1px solid black !important;
            }
}